body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
}

header {
    background-color: #f2f2f2;
    padding: 0.5em 1em;
}

h1 {
    color: #20a8b4;
    margin: 0px;
}

var {
    font-style: normal;
    color: #ff5c0f;
}

ul {
    list-style-type: none;
    padding: 0px;
}

li {
    margin: 0.5em 0em;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: #ff5c0f;
}

button {
    color: #fff;
    background-color: #20a8b4;
    padding: 12px;
    border-radius: 10px;
    border: 0px;
    text-align: left;
    width: 100%;
}

button:hover {
    background-color: #ff5c0f;
    cursor: pointer;
}

section {
    padding: 5em 1em;
}

/* adding this to make image disappear when screen is smaller */
img {
    display: none;
}

@media screen and (min-width: 768px) {

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    

    li {
        display: inline;
        margin: .25em;
    }

    button {
        width: auto;
    }

    img {
        display: list-item;
    }

    .container {
        display: flex;
        align-items: center;
    }

    .item {
        width: 50%;
    }

}